/* For the CC license icons */
.footer-copyright img {
	max-width:   1em;
	max-height:  1em;
	margin-left: .2em;
}

/* Search input box info icon overlay */
.search-input-wrapper {
  position: relative;
  --icon-width:  1.3rem;
  --icon-margin: 2px;

  #search-input {
    padding-right: calc(var(--icon-width) + 2 * var(--icon-margin));
  }

  a {
    position: absolute;
    right:    var(--icon-margin);
    top:      50%;
    transform: translateY(-50%);
    text-align: center;

    font-size: 1.3rem;
    width: 1em;
    color: black;
    text-decoration: none;
  }
}

/* Select all absolute links not local to the site and always underline */
/* Default behavior is to only underline on hover                       */
a:where([href*="//"]:not([href*="stag.lol"])) {
  text-decoration: underline;
  /* Select children recursively without any children except text   */
  /* Needed for links with a code block for example                 */
  /* If there's nothing then apply it directly to the link          */
  /* This will break if a link's text has multiple formatting parts */
  /*& :not(:has(*)):after, &:not(:has(*)):after {
    content:         "🡭";
    vertical-align:  super;
    font-size:       0.7em;
    text-decoration: none !important;
    color:           inherit;
  }*/
}
