name: 'Build and deploy site'
run-name: 'Build and deploy site (${{ inputs.source_repo || github.event.repository.name }} was updated)'
on:
  push: {}
  workflow_dispatch:
    inputs:
      source_repo:
        required: false
        type: 'string'
jobs:
  build-and-deploy:
    name: 'Build and deploy site'
    runs-on: 'ubuntu-24.04'
    environment:
      name: 'production'
      url: '${{ steps.wrangler.outputs.pages-deployment-alias-url || steps.wrangler.outputs.deployment-url }}'
    permissions:
      deployments: 'write'
    steps:
      - uses: 'step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf' # v2.11.1
        with:
          egress-policy: 'audit'
          disable-sudo: true
          disable-telemetry: true
      - uses: 'actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd' # v5.0.1
        with:
          submodules: 'recursive'
      - name: 'Update submodules to latest' # actions/checkout doesn't support --remote
        run: 'git submodule update --init --force --depth=1 --recursive --remote'
      - uses: 'oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76' # v2.0.2
        with:
          bun-version: '1.3.2'
      - uses: 'actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830' # v4.3.0
        env:
          cache-name: 'npm'
        with:
          key: "${{ runner.os }}-cache-${{ env.cache-name }}-lockfile-${{ hashFiles('bun.lock') }}"
          restore-keys: |
            ${{ runner.os }}-cache-${{ env.cache-name }}-lockfile-${{ hashFiles('bun.lock') }}
            ${{ runner.os }}-cache-${{ env.cache-name }}-
            ${{ runner.os }}-
          path: 'node_modules'
      - name: 'Install dependencies'
        run: 'bun install --frozen-lockfile'
      - name: 'Build site'
        run: 'bun run build-ci'
      - name: 'Verify project exists'
        id: 'wrangler-check'
        uses: &wrangler 'cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65' # v3.14.1
        with:
          command: 'pages project list'
          quiet: true
          apiToken: '${{ secrets.CLOUDFLARE_API_TOKEN }}'
          accountId: '${{ vars.CLOUDFLARE_ACCOUNT_ID }}'
      - name: 'Create project'
        if: '!contains(steps.wrangler-check.outputs.command-output, vars.PROJECT_NAME)'
        uses: *wrangler
        with:
          preCommands: |
            echo "Project ${{ vars.PROJECT_NAME }} was not found, so creating it"
            echo ""
          command: 'pages project create ${{ vars.PROJECT_NAME }} --production-branch ${{ github.event.repository.default_branch }}'
          apiToken: '${{ secrets.CLOUDFLARE_API_TOKEN }}'
          accountId: '${{ vars.CLOUDFLARE_ACCOUNT_ID }}'
      - name: 'Deploy site'
        id: 'wrangler'
        uses: *wrangler
        with:
          command: 'pages deploy build/site --project-name ${{ vars.PROJECT_NAME }}'
          apiToken: '${{ secrets.CLOUDFLARE_API_TOKEN }}'
          accountId: '${{ vars.CLOUDFLARE_ACCOUNT_ID }}'
